/* =============== GLOBAL ===============*/

:root {
    --color-font: #e5e5e5;
    --color-elements: #5e17eb;
}

/* =============== RESET ===============*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* =============== MAIN ===============*/

body {
    font-family: 'Poppins', sans-serif;

    height: 100vh;
    width: 100vw;
    /* adicionando imagem de fundo */
    background: url('../../img/reports img/background my_reports.png');
    background-size: cover;
    background-repeat: no-repeat;

    overflow: hidden;
}

.container {
    width: min(90vw, 900px);
    margin-left: auto;
    margin-right: auto;

    margin-top: 0.25%;
    margin-bottom: auto;

    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}


/* =============== NAV ===============*/

nav {
    width: 100%;
    height: 70px;
    background-color: var(--color-elements);

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    margin-left: auto;
    margin-right: auto;
}

#logo1 {
    border: 5px solid white;
    border-radius: 50px;

    width: 50px;
    height: 50px;
}

#logo2 {
    border: 5px solid white;
    border-radius: 50px;

    width: 50px;
    height: 50px;
}

#user {
    width: 200px;
    color: var(--color-font);

    margin-left: 10px;
    margin-right: 10px;

    font-weight: bolder;
    font-size: 20px;
}

/* =============== NUM_REPORTS ===============*/

#num_reports {
    margin-top: 30px;
    margin-bottom: 15px;

    background-color: var(--color-elements);

    width: 450px;
    height: auto;

    color: var(--color-font);

    border-radius: 50px;
}

#span_num_reports {
    color: rgb(148, 3, 3);
}


/* =============== REPORTS ===============*/

.reports {
    margin-top: 15px;

    width: 650px;
    height: auto;

    border: 2.5px solid var(--color-elements);
    border-radius: 25px;

    background-color: white;

    text-align: justify;

    padding-left: 15px;
    padding-top: 10px;
}

.reports, h3 {
    font-size: 15px;
    font-weight: 500;
}

span {
    color: #696565;
}

button {
    font-family: "poppins", sans-serif;

    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 250px;
    
    width: 115px;
    height: 25px;

    background-color: rgb(7, 150, 55);

    border: none;
    border-radius: 50px;

    color: var(--color-font);
    font-weight: 500;

    cursor: pointer;
}

#btn-voltar {
    background-color: #5e17eb;

    height: 30px;

    margin-left: 0px;
    margin-top: 30px;

    color: var(--color-font);
    font-weight: 700;
    letter-spacing: 2.5px;
}

#btn-voltar:hover {
    border: 2px solid rgb(0, 0, 0);
}


/* =============== PAGINAÇÃO ===============*/

#pages {
    margin-top: 20px;

    color: var(--color-elements);
}