/* =============== GLOBAL ===============*/

:root {
    --color-font: #e5e5e5;
    --color-elements: #5e17eb;
}

/* =============== RESET ===============*/

/* =============== MAIN ===============*/

body {
    font-family: 'Poppins', sans-serif;
}

/* =============== MAIN TUDO ===============*/

/* =============== IMAGEM CANTO ===============*/

/* =============== BARRA ROXA ===============*/

/* =============== MEUS REPORTES ===============*/
.reportes_usuario{
    text-align: center;
}

/* =============== NOME USUARIO ===============*/
.usuario{
    text-align:center;
}

/* =============== NOVO REPORTE ===============*/
.botao_reporte{
    align-content:space-around;
}

/* =============== FORMULARIOS ===============*/
.formularios{
    align-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
}

/* =============== BOTAO BUSCAR ===============*/

.botao_buscar{
    align-content: center;
    align-items: center;
    align-self: center;
}

/* =============== BOTAO BUSCAR ===============*/

.pesquisa_cidade{
    text-align: center;
}

/* =============== MENSAGEM ===============*/

.mensagem{
    text-align: center;
}
